.about-me-section {
    margin: 20px;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Card grid layout */
.card-grid {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(251, 236, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    font-size: 1rem;
}

.card:hover {
    background-color: #e0e0e0;
}

/* 3x3 grid for Top 3s */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item ul {
    list-style-type: none;
    padding: 0;
}

.grid-item ul li {
    font-size: 0.9rem;
    margin-bottom: 5px;
}