/* Sidebar Styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px; /* Reduce sidebar width */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 10;
  }
  
  .sidebar .folder {
    width: 75px; /* Set a fixed width */
    height: 90px; /* Set a fixed height */
  
    margin-top: 0px;
    margin-bottom: 8px; /* Reduce margin between icons */
    cursor: pointer;
    text-align: center;
  }
  
  .sidebar .folder img {
    width: 60px; /* Smaller icon size */
    height: 60px;
  }
  
  .sidebar a {
    text-decoration: none;
  }
  .sidebar .folder p {
    font-size: 13px; /* Smaller text size */
    color: white;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  }

  /* Selected State - Dark Background for Selected Folder */
.sidebar .folder.selected {
    background-color: rgba(0, 0, 0, 0.3); /* Dark background when selected */
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
  
  