/* General page styling */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html {
  scroll-behavior: smooth;
  height: 100%;

  margin: 0;
  overflow: hidden;
  /* Prevent scrolling of the page */
}

/* Container for the entire page */
.app-container {
  display: flex;
  height: 100vh;
  background-image: url("/public/images/background.PNG");
  background-size: 105% 105%;
  /* Stretch the image to fit both width and height */
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Space Grotesk', sans-serif;

  overflow: hidden;
  /* Prevent scrolling */
  /* Desktop background color */
}



/* Desktop window centered within available space (excluding footer) */
.desktop-window {
  scroll-behavior: smooth;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(90% - 150px);
  /* Subtract sidebar width from total */
  height: calc(90% - 40px);
  /* Subtract footer height from total */
  border-radius: 8px;
  position: fixed;
  top: calc(50% - 20px);
  /* Center vertically, accounting for footer height */
  left: calc(50% + 40px);
  /* Center horizontally, accounting for half the sidebar width */
  transform: translate(-50%, -50%);
  overflow-y: auto;
  /* Allow scrolling within the window */
  z-index: 1;
  padding: 20px;
}

/* Window section styling */
.window-section {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 8px;
}

